{% extends 'base.html.twig' %}
{% block header %}
    {# Intentionally left empty to not include the header #}
{% endblock %}
{% block title %}User Settings{% endblock %}

{% block stylesheets %}
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background: linear-gradient(to top left, #e83e8c, #88bbdd, #192f6a); /* Gradient background */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .settings-container {
            position: relative; /* Added relative positioning */
            background-color: #ffffff;
            border-radius: 20px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            padding: 40px;
            max-width: 1200px; /* Adjusted max-width */
            width: 100%;
            margin: auto;
            text-align: center;
        }
        .form-section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .form-group {
            flex-basis: 48%; /* Adjusted for two-column layout */
            margin-bottom: 20px;
        }
        input[type="text"], input[type="password"], input[type="email"], textarea, select {
            width: 100%;
            padding: 12px;
            border-radius: 8px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            margin-bottom: 10px; /* Added space between input fields and buttons */
        }
        button {
            padding: 8px 16px; /* Smaller buttons */
            background-color: #007bff; /* Soft blue */
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 0.8em; /* Smaller font size */
        }
        button:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }
        .link {
            display: block;
            margin-top: 15px;
            color: #007bff;
            text-decoration: none;
        }
        .link:hover {
            color: #0056b3;
        }
        .link-danger {
            color: #dc3545;
        }
        .link-danger:hover {
            color: #bd2130;
        }

        /* Styles for the grid layout */
        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* Adjusted for 4 columns */
            gap: 20px;
        }

        /* Styles for the icon */
        .icon {
            position: absolute;
            top: 10px; /* Adjust as needed */
            left: 10px; /* Adjust as needed */
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="settings-container">
        <a href="{{ path('app_homepage') }}" class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0V0z" fill="none"/>
                <path d="M16.5 11c0-.42-.26-.79-.65-.94l-6.83-3.16c-.31-.14-.67-.14-.98 0l-6.83 3.16c-.39.18-.65.54-.65.94s.26.79.65.94l1.82.84v8.23c0 .41.34.75.75.75s.75-.34.75-.75v-5.14h8.5v5.14c0 .41.34.75.75.75s.75-.34.75-.75v-8.23l1.82-.84c.39-.18.65-.54.65-.94zM12 5.32l4.26 1.97-4.26-1.97-4.26 1.97L12 5.32zm-6 11.36V8.21l6-2.77 6 2.77v8.47l-6 2.77-6-2.77z"/>
            </svg>
        </a>
        <h1 class="text-2xl font-bold mb-5">User Settings</h1>

        <div class="form-section">
            {# Update Email and Password Forms #}
            <div class="form-group">
                <form method="post" action="{{ path('app_email_verification') }}">
                    <h2 class="text-xl mb-2">Change Email</h2>
                    <input type="email" name="email" value="" required="required" placeholder="New Email">
                    <button type="submit">Update Email</button>
                </form>
            </div>
            {% if sent is defined and sent%}
                <div>
                    <p style="color: #2ca02c">Verification Email has been successfully sent! Check your Mailbox.</p>
                </div>
            {% endif %}
            <div class="form-group">
                <form method="post" action="">
                    <h2 class="text-xl mb-2">Change Password</h2>
                    <input type="password" name="current_password" required="required" placeholder="Current Password">
                    <input type="password" name="new_password" required="required" placeholder="New Password">
                    <button type="submit">Change Password</button>
                </form>
            </div>
        </div>

        <div class="form-section">
            {# Update Username and Billing Address Forms #}
            <div class="form-group">
                <form method="post" action="">
                    <h2 class="text-xl mb-2">Change Username</h2>
                    <input type="text" name="username" value="{{ user.username }}" required="required" placeholder="New Username">
                    <button type="submit">Update Username</button>
                </form>
            </div>
            <div class="form-group">
                <form method="post" action="">
                    <h2 class="text-xl mb-2">Change Billing Address</h2>
                    <div class="grid">
                        <div>
                            <label for="first-name" class="block text-sm font-medium text-gray-700"></label>
                            <input type="text" id="first-name" name="first-name" placeholder="First name.." autocomplete="given-name"
                                   class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                        <div>
                            <label for="last-name" class="block text-sm font-medium text-gray-700"></label>
                            <input type="text" id="last-name" name="last-name" placeholder="Last name.." autocomplete="family-name"
                                   class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                        <div>
                            <label for="address" class="block text-sm font-medium text-gray-700"></label>
                            <input type="text" name="address" id="address" placeholder="Address.." autocomplete="street-address"
                                   class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                        <div>
                            <label for="city" class="block text-sm font-medium text-gray-700"></label>
                            <input type="text" name="city" id="city" placeholder="City.." autocomplete="address-level2"
                                   class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                        <div>
                            <label for="country" class="block text-sm font-medium text-gray-700"></label>
                            <select id="country" name="country" autocomplete="country-name"
                                    class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                                <option>Germany</option>
                            </select>
                        </div>
                        <div>
                            <label for="region" class="block text-sm font-medium text-gray-700"></label>
                            <input type="text" name="region" id="region" placeholder="State / Province.." autocomplete="address-level1"
                                   class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                        <div>
                            <label for="postal-code" class="block text-sm font-medium text-gray-700"></label>
                            <input type="text" name="postal-code" id="postal-code" placeholder="Postal code.." autocomplete="postal-code"
                                   class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                        <div>
                            <label for="phone" class="block text-sm font-medium text-gray-700"></label>
                            <input type="text" name="phone" id="phone" placeholder="Phone.." autocomplete="tel"
                                   class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>
                    <button type="submit">Update Address</button>
                </form>
            </div>
        </div>

        {# Logout and Delete Account Links #}


        {# Logout Link #}
        <a href="{{ path('app_logout') }}" class="link">Logout</a>

        {# Delete Account Link #}
        <a href="" class="link link-danger" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">Delete My Account</a>
    </div>
{% endblock %}
{% block footer %}
    {# Intentionally left empty to not include the footer #}
{% endblock %}
